body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

/* navbar section */

.navbar-nav a {
  display: flex;
  align-items: center;
  justify-items: center;
}

.logo-name {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  margin: 10px;
  font-weight: 500;
}

.navbar {
  height: 4rem;
  background-color: white;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

.search-btn {
  background-color: #fe424d;
  color: white;
  border-radius: 25px;
  padding: 0 1rem 0 1rem;
}

.search-btn:hover {
  background-color: #fe424d;
  color: white;
}

.search-btn i {
  display: inline;
  margin-right: 0.5rem;
}

.search-input {
  border-radius: 25px;
  padding: 0.5rem 3rem 0.5rem 3rem;
  font-size: 1rem;
}

/* footer */

footer ul {
  padding: 0;
}

footer ul li {
  margin-bottom: 8px;
}

/* cards */

.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text p {
  font-weight: 400 !important;
}

.listing-link {
  text-decoration: none;
}

/* Card effect */

.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

/* new page */

.add-btn,
.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* show page */

.show-img {
  height: 67vh;
}

.btns {
  display: flex;
}

/*edit page*/

.preview-img {
  width: 250px !important;
  height: 150px !important;
}

.reviews {
  display: flex;
  flex-wrap: wrap;
}

.show-card {
  padding-left: 0;
  padding-right: 0;
}

/* Login & Signup section */

.signup-container,
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 200px);
  padding: 20px;
  box-sizing: border-box;
}

.signup-box,
.login-box {
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signup-box h1,
.login-box h1 {
  margin-bottom: 20px;
}

.signup-box h1 span,
.login-box h1 span {
  color: #fe424d;
}

.dashboard-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.dashboard-tabs {
  border-bottom: 2px solid #ddd;
  background: #f8f9fa;
  padding: 8px 0;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.dashboard-tabs .nav-link {
  font-size: 14px;
  font-weight: 500;
  padding: 8px 15px;
  color: #333;
  border: none;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: all 0.2s ease-in-out;
}

.dashboard-tabs .nav-link i {
  font-size: 16px;
}

.dashboard-tabs .nav-link.active {
  background: #fe424d;
  color: white !important;
  font-weight: 400 !important;
  border-radius: 6px;
}
